@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

$padding-medium: 30px;
$medium-text: calc(10px + 1.5vmin);
$large-text: calc(10px + 2vmin);

body {
    background-color: #282c34;
}

.vertical-split {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    > div { 
        padding: $padding-medium; 
    }
    img {
        width: 100%; 
    }
}

.large-text, .medium-text {
    text-align: center;
    padding: 20px;
}

.large-text {
    font-size: $large-text; 
}

.medium-text {
    font-size: $medium-text;
}

.center-text {
    text-align: center;
}

.padding-large {
    padding: 100px;
}

.padding-medium {
    padding: $padding-medium;
}

#navbar {
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    padding: 0 10px;
    font-size: $large-text;

    a {
        color: inherit;
    }

    .navbar-link-group {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        align-items: baseline;

        > * {
            margin: 0 10px;
            cursor: pointer;
        }
    }
}

form {
    width: fit-content;
    margin: auto;

    * {
        display: block;
        margin: 5px 0;
    }
}

#contact-form {

    input:not([type=submit]), textarea {
        width: 400px;
    }

    textarea {
        height: 200px;
    }
}

#logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    text-decoration: none;

    > div:first-child {
        box-sizing: content-box;
        width: 65px;
        height: 65px;
        border-radius: 65px;
        padding: 5px;
        background-color: white;
        color: #282c34;

        * {
            display: inline-block;
            margin: -5px 0 0 -5px;
            font-style: italic;
        }
    
        #logoIconHelper {
            position: absolute;
            margin: -30px 0 0 -28px;
        }
    }

    > h1 {
        margin: 0 20px;
    }
}

#map {
    display: grid;
    justify-items: center;
}

#banner img {
    object-fit: cover;
    object-position: 0 65%;
    filter: brightness(0.9);
    height: 300px;
    width: 100%;
}
